@mixin align-vertically($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


@mixin scale-element($percentage) {
  -webkit-transform: scale($percentage); /* Saf3.1+, Chrome */
  -moz-transform: scale($percentage); /* FF3.5+ */
  -ms-transform: scale($percentage); /* IE9 */
  -o-transform: scale($percentage); /* Opera 10.5+ */
  transform: scale($percentage);
}
@mixin horizontal-move($distance) {
  -webkit-transform: translateX($distance);
  -moz-transform: translateX($distance); /* FF3.5+ */
  -ms-transform: translateX($distance);
  -o-transform: translateX($distance); /* Opera 10.5+ */
  transform: translateX($distance);
}

@mixin vertical-move($distance) {
  -webkit-transform: translateY($distance);
  -moz-transform: translateY($distance); /* FF3.5+ */
  -ms-transform: translateY($distance);
  -o-transform: translateY($distance); /* Opera 10.5+ */
  transform: translateY($distance);
}